<form>
    <div class="row">
        <div class="col-md-10"><h3>Cadastro</h3></div>
        <div class="col-md-2 text-end">
            <button id="salvar" name="salvar" type="button" class="btn btn-success" (click)="salvar()" >
                <span class="bi bi-check"></span>
                Salvar
            </button>
        </div>
    </div>
    <hr>
    <div class="row ">
        <div class="col-md-5">
            <div class="mb-3">
                <label for="nmFantasia" class="form-label" style="color: red;">Nome Fantasia </label>
                <input type="text" aria-label="nmFantasia" id="nmFantasia" name="nmFantasia" [(ngModel)]="nmFantasia" class="form-control">
            </div>
        </div>
        <div class="col-md-5">
            <div class="mb-3">
                <label for="logradouro" class="form-label " style="color: red;">Logradouro (av,rua...)  </label>
                <input type="text" aria-label="logradouro" id="logradouro" name="logradouro" [(ngModel)]="logradouro" class="form-control">
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-5">
            <div class="mb-3">
                <label for="rzSocial" class="form-label">Razão Social  </label>
                <input type="text" aria-label="rzSocial" id="rzSocial" name="rzSocial" [(ngModel)]="rzSocial" class="form-control">
            </div>
        </div>
        <div class="col-md-5">
            <div class="mb-3">
                <label for="complemento" class="form-label">Complemento </label>
                <input type="text" aria-label="complemento" id="complemento" name="complemento" [(ngModel)]="complemento" class="form-control">
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-5">
            <div class="mb-3">
                <label for="cnpj" class="form-label" style="color: red;">CNPJ  </label>
                <input type="text" aria-label="cnpj" id="cnpj" name="cnpj" [(ngModel)]="cnpj" class="form-control">
            </div>
        </div>
        <div class="col-md-5">
            <div class="mb-3">
                <label for="bairro" class="form-label" style="color: red;">Bairro  </label>
                <input type="text" aria-label="bairro" id="bairro" name="bairro" [(ngModel)]="bairro" class="form-control">
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-5">
            <div class="mb-3">
                <label for="contato" class="form-label">Contato  </label>
                <input type="text" aria-label="contato" id="contato" name="contato" [(ngModel)]="contato" class="form-control">
            </div>
        </div>
        <div class="col-md-5">
            <div class="mb-3">
                <label for="cidade" class="form-label" style="color: red;">Cidade </label>
                <input type="text" aria-label="cidade" id="cidade" name="cidade" [(ngModel)]="cidade" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="mb-3">
                <label for="email" class="form-label" style="color: red;">E-mail </label>
                <input type="text" aria-label="email" id="email" name="email" [(ngModel)]="email" class="form-control">
            </div>
        </div>
        <div class="col-md-5">
            <div class="mb-3">
                <label for="estado" class="form-label" style="color: red;" >Estado </label>
                <select class="form-select form-select-sm form-control" aria-label="Small select example" name="estado" [(ngModel)]="estado">
                    <option  *ngFor="let estado of estados" [value]="estado.indice" [innerHTML]="estado.sigla"></option>
                </select>
            </div>
        </div>
    </div>
</form>
