<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <!-- Inicio Mercadoria Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#mercadoria-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Mercadoria</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="mercadoria-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/categoria">
              <i class="bi bi-circle"></i><span>categoria</span>
            </a>
          </li>
        </ul>
        <ul id="mercadoria-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/subcategoria">
              <i class="bi bi-circle"></i><span>subcategoria</span>
            </a>
          </li>
        </ul>
      <ul id="mercadoria-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/produto">
            <i class="bi bi-circle"></i><span>produto</span>
          </a>
        </li>
      </ul>
    </li><!-- Final Mercadoria Nav -->
      
      <!-- Inicio Forma de pagamento-->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#financeiro-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Financeiro</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="financeiro-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/forma-pagamento">
              <i class="bi bi-circle"></i><span>Forma de Pagamento</span>
            </a>
        </ul>
      </li><!-- Final Financeiro Nav -->
      <!-- Inicio menu ADM Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#financeiro-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Administrativo</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="financeiro-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/usuario">
              <i class="bi bi-circle"></i><span>usuários</span>
            </a>
        </ul>
      </li><!-- Final menu ADM Nav -->
